// spaces
$space--s: 10px
$space--m: 20px
$space--l: 40px
$space--xl: 48px

$border-width--m: 2px


// colors
$color--white: #ffffff
$color--black: #000000
// $color--main: #D58936
$color--main: #fafafa
$color--accent: #396afc  //#4F359B

$color__bg--main: $color--white


// fonts
$font--main: 'Roboto', 'Arial', sans-serif

$font-color--main: #212121
$font-color--white: #ffffff

$font-size--s: 12px
$font-size--m: 16px
$font-size--l: 24px
$font-size--xl: 32px


// effects
$border-radius--m: 40px
$border-radius--s: 6px
$box-shadow--m: 0px 4px 6px 0 rgba($color--accent, .24)

$lighten: rgba(255, 255, 255, .05)
$darken: rgba(0, 0, 0, .05)

// transitions
$transition-timing-function: ease
$transition-duration--s: .15s
$transition-duration--m: .2s
$transition-duration--l: 10s

$transition--s: $transition-duration--s $transition-timing-function
$transition--m: $transition-duration--m $transition-timing-function
$transition--l: $transition-duration--l $transition-timing-function